@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(36, 36, 36, 0.87);
  background-color: #e6e6e6;  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #a4cdff;
}

body {
  margin: 50px; 
  margin-top: 100px;
  place-items: left;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.8em;
}

footer {
  background-color: #144e6b; /* Navy Blue */
  color: #ffffff; /* White */
  text-align: left;
  margin-left: -70px;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 120%;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #a4cdff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
